#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PACKAGE = records-el
PKGDIR  = debian/$(PACKAGE)
DOCDIR  = /usr/share/doc/${PACKAGE}
LISPDIR = /usr/share/emacs/site-lisp/${PACKAGE}

configure: configure-stamp
configure-stamp:
	dh_testdir
	[ -f configure ] || touch configure
	autoconf
	./configure --prefix=/usr
	# grep '^Package: ' debian/control | head -1 | sed -e "s/^Package: //g" > debian/PACKAGE
	# sed -e "s/@PACKAGE@/$(PACKAGE)/g" debian/README.Debian.in > debian/README.Debian
	# sed -e "s/@PACKAGE@/$(PACKAGE)/g" debian/dirs.in > debian/dirs
	sed -e "s/@PACKAGE@/$(PACKAGE)/g" debian/emacsen-install.in > debian/emacsen-install
	sed -e "s/@PACKAGE@/$(PACKAGE)/g" debian/emacsen-remove.in > debian/emacsen-remove
	sed -e "s/@PACKAGE@/$(PACKAGE)/g" debian/emacsen-startup.in > debian/emacsen-startup
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE) html
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -d $(PKGDIR)$(LISPDIR)
	install -d ${PKGDIR}${DOCDIR}
	install -m 0644 src/*.el $(PKGDIR)$(LISPDIR)
	install -m 0644 ChangeLog ${PKGDIR}${DOCDIR}/changelog

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installinfo doc/records.info
	dh_installemacsen --priority=61
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress -X.el
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
